body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .oppa {
  opacity: 0.8;
} */
.display_show {
  display: flex;
  justify-content: space-around;
}
.pos {
  position: relative;
  top: 479px;
  left: 89px;
}
.ab {
  position: absolute;
}
.text-center {
  border-radius: 10px;
}
.imgUrl {
  width: 250px;
  position: absolute;
  top: -298px;
  right: 76px;
}
